<html>
    <head>
        <title>Login or Signup</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>

<body>
    <h1 id="h1">Login or Signup</h1>
    <form method="GET" action="/signup">
        <button id="btn1" class="btn btn-default" type="submit">Signup</button>
    </form>
    <br>
    <form method="GET" action="/login">
        <button class="btn btn-default" id="btn2" id="btn2" type="submit">LOGIN</button>
    </form>
    <br>
    <h2 id="h2">{{message}}</h2>
</body>
</html>
