<html>
    <head>
        <title>Signup</title>
        <link rel="stylesheet" href="/static/style2.css">
    </head>
<h2 id="h2">Signup</h2>
<br>
    <body>
        <form method="POST">
            <input id="uname" name="uname" type="text" autocomplete="off" placeholder="username..">
            <br><br>
            <input id="pwd" name="pwd" placeholder="password" type="password">
            <br><br>
            <input type="text" id="msg" name="msg" placeholder="message..">
            <br><br>
            <button class="btn btn-default" id="btn1" name="btn1" type="submit">SIGNUP</button>
        </form>
    </body>
</html>
